#zizi-game-container {
    margin: 0 auto;
    width: 800px;
    height: 600px;
    position: relative;
    background: white;
  }
  
  #winModal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background: #ffffff;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
  }
  